<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Kubernetes</short>
  <description>Kubernetes API, etcd, Kubelet, and other essential ports for Master nodes.</description>
  <port protocol="tcp" port="6443"/> <!-- Kubernetes API Server -->
  <port protocol="tcp" port="2379"/> <!-- etcd Client -->
  <port protocol="tcp" port="2380"/> <!-- etcd Peer -->
  <port protocol="tcp" port="10250"/> <!-- Kubelet API -->
  <port protocol="tcp" port="10251"/> <!-- Kube-scheduler -->
  <port protocol="tcp" port="10252"/> <!-- Kube-controller-manager -->
  <port protocol="tcp" port="9099"/> <!-- RKE healthcheck -->
</service>