<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Kubernetes Worker</short>
  <description>Kubernetes Kubelet and other essential ports for Worker nodes.</description>
  <port protocol="tcp" port="10250"/> <!-- Kubelet API -->
</service>